*~
*.pyc

/.deps/
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libkavrakilab-scene.la
/libtool
/ltmain.sh
/m4/
/missing
/scene.c
/scene.c.h
/scene.lo
/scene.o
/stamp-h1
/ur5_robotiq_robot_limited.urdf
