<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />
  <!-- The type of planning plugin to be loaded. Options are "ompl_luna", "chomp", or "stomp" -->
  <arg name="planner" default="ompl_luna" />
  <!-- The type of collision checker you want to use. Options are "FCL", "Hybrid", or "Distance_Field" -->
  <arg name="collisions" default="FCL"/>
    
  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find ur5_robotiq85_moveit_config)/launch/move_group.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="planner" value="$(arg planner)"/>
    <arg name="collisions" default="$(arg collisions)"/>
  </include>
</launch>
